<header class="barraSup">
  <div class="barraBuscar">
    <input type="text" placeholder="Buscar">
  </div>
  <div class="logo">
    <img src="fotos/barrasuperior/logo.png" alt="TravelGo">
  </div>
  <div class="redesSociales">
    <a routerLink="/carrito" style="cursor: pointer;">
    <img src="fotos/barrasuperior/image.png" alt="Carrito" class="img-icon-carrito">
  </a>
    <br><br>
    <span><img src="fotos/barrasuperior/instagram.png" alt="instagram"></span>
    <span><img src="fotos/barrasuperior/tiktok.png" alt="tiktok"></span>
    <span><img src="fotos/barrasuperior/facebook.png" alt="facebook"></span>
    
  </div>
</header>